.banner__section {
  position: relative;
}

.banner {
  position: relative;
  background-image: url("../images/banners/banner-low.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -12rem;
}

.banner__bg-color {
  position: absolute;
  z-index: 0;
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
  background-color: $yellow-dark;
}

.banner__heading {
  z-index: 1;
  font-family: "Lato Heavy", sans-serif;
  font-size: 8rem;
}

.banner__hr {
  z-index: 1;
  margin: 0.5rem;
  border-bottom: solid;
  width: 325px;
}

.banner__description {
  z-index: 1;
  font-family: "Lato Light", sans-serif;
  font-size: 3.8rem;
}

@media screen and (max-width: 1023px) {
  .banner {
    margin-top: 12rem;
  }
}

@media screen and (max-width: 768px) {
  .banner__heading {
    font-size: 6rem;
  }

  .banner__hr {
    width: 225px;
  }

  .banner__description {
    font-size: 2.8rem;
  }
}

@media screen and (max-width: 425px) {
  .banner__heading {
    font-size: 4rem;
  }

  .banner__hr {
    width: 125px;
  }

  .banner__description {
    font-size: 1.8rem;
  }
}
