.plans {
  position: relative;
  z-index: 2;
}

.plans__container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $gray;
}

.plans__heading {
  font-family: "Lato Heavy", sans-serif;
  font-size: 10rem;
  text-align: center;
}

.plans__hr {
  margin: 4rem;
  border-bottom: solid;
  color: $brown;
  width: 41.5rem;
}

.plans__description {
  text-align: center;
  margin: 0 auto;
  opacity: 0.69;
  font-family: "Lato Light", sans-serif;
  font-size: 4.8rem;
}

.plans__play-button-img {
  margin: 4rem auto;
  width: 16.2rem;
  height: 16.2rem;
}

.plans__play-button-description {
  font-family: "Lato Light", sans-serif;
  text-align: center;
  font-size: 3.5rem;
}

.plans__details {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  // display: flex;
  gap: 10rem;
  align-items: center;
  justify-content: center;
}
