.plans-detail {
  margin: 0 4rem;
  position: relative;
  background-image: url("../images/icons/plan-box.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 5rem;
  color: white;
  height: 400px;
  width: 300px;
  text-align: center;
}

.plans-detail__price {
  margin-top: 5rem;
  margin-right: 3rem;
  font-size: 3rem;
  font-family: "Roboto", "Lato Regular", sans-serif;
}

.plans-detail__name {
  margin-top: 1rem;
  margin-right: 3rem;
  font-size: 2rem;
  font-family: "Roboto", "Lato Regular", sans-serif;
}

.plans-detail__time {
  display: flex;
  align-items: center;
  color: black;
}

.plans-detail__schedule {
  margin-top: 5rem;
  margin-left: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans-detail__schedule-hour {
  margin-left: 0;
  color: $dark-red;
  font-family: "Mayraid Pro", "Lato Regular", sans-serif;
  font-size: 5rem;
  margin-right: 1rem;
}

.plans-detail__schedule-hour-word {
  text-align: left;
  font-family: "Roboto", "Lato Regular", sans-serif;
  font-weight: 700;
  color: black;
}

.plans-detail__schedule-description {
  text-align: left;
  font-family: "Roboto", "Lato Regular", sans-serif;
  font-weight: 100;
  font-size: 1rem;
  color: black;
}

.plans-detail__ul {
  font-size: 1rem;
  font-family: "Roboto", "Lato Light", sans-serif;
  margin: 0 auto;
  text-align: start;
  margin-left: 9rem;
  color: gray;
}

.plans-detail__li-custom {
  color: $dark-blue;
}

.plans-detail__dialog-box-text {
  margin-left: -2rem;
}

.plans-detail__premium-icon {
  margin-top: -3rem;
  margin-right: 3rem;
  top: 0;
  right: 0;
  position: absolute;
  margin-left: -2rem;
}

.plans__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  .plans-detail__ul {
    margin-left: 9rem;
  }
}

@media screen and (max-width: 768px) {
  .plans-detail__ul {
    margin-left: 9rem;
  }
}

@media screen and (max-width: 425px) {
  .plans-detail__ul {
    margin-left: 9rem;
  }
}

@media screen and (max-width: 375px) {
  .plans-detail__ul {
    margin-left: 8.5rem;
  }
}
